body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0px 0 50px 0;
    background-color: #f7f7f7;
    color: #222222;
}
hr{
    border: #760030;
}
.container {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
.etiqueta{
    width: 100%;
    height: 85px;
    background-color: #c98aa4;
    color: #ffffff;
}
.etiqueta h2{
    text-align: right;
    margin-top: 0px;
    margin-right: 10px;
    padding: 15px;
    padding-top: 25px;
}

.etiqueta img{
    margin-top: 5px ! important;
    width: 60px;
    height: 70px;
    padding-left: 810px ! important;
}
.container .header #titulo {
    width: 100%;
    height: 110px;
    background: linear-gradient(to right, #AF1051, #760030);
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 0.5px;
}
.container .header img {
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    width: 100px;
}
.container #navegacion{
    background: linear-gradient(to bottom, #AF1051, #760030);
    width: 170px;
    height: 600px;
    float: left;
}

.container #navegacion #reporte a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    margin: 10px 5px 0 0;
    display: inline;
    transition: 0.5s ease;
}
.container #navegacion #reporte img{
    width: 30px;
    margin: 5px 5px 5px 5px;
}
.container img{
    width: 1000px;
    float:left;
}
.container .filtro .buscar p{
    margin-left: 15px;
    color: #00305C;;
    font-size: 20px;
    font-weight: bolder;
    display:inline-block;
    padding: 5px;
}
input{
    border-radius: 18px;
    height: 34px;
    width: 200px;
}
input[type="submit"]{ 
    background:#C2A152;
    color:#ffffff;
    width:150px;
    cursor:pointer;
    font-size: 20px;
    margin-top: 10px;
    border-color: #C2A152;
    margin-left: 5px;
  }
  input[type="time"]{ 
    border-radius: 20px;
    height: 34px;
    margin-left: 0px !important;
    width: 150px;
  }
.mostrar input[type="submit"]{
    width: 200px !important;
    margin-left: 520px;
}
.user-list {
    width: 85%;
    float: left; 
    margin: 30px 0 0 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

table th{
    background-color: #760030;
    color: #ffffff;
}
table th,
table td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
    
}
table td{
    color: #000000;
}
a.edit,
a.delete,
a.nuevo {
    text-decoration: none;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
}
a.delete {
    color: #ffffff;
    background-color: #DD4141;;
}
a.edit {
    margin-right: 7px;
    color: #ffffff;
    background-color: #EBAA3B;
}
a.nuevo{
    background:#C2A152;
    color:#ffffff;
    width:210px;
    text-align: center;
    margin-right: 20px;
    float: right;
    cursor:pointer;
    font-size: 20px;
    margin-top: 12px;
}

.container .form .fields li{
    list-style: none;
    color: #00305C;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 400px;
    margin-bottom: 25px;
}
.container .form .fields li input{
    float: right;
    margin-right: 450px;
   

}
.container .form .fields li label{
    padding-right: 50px;
    margin-left: 120px;

}

input[type="submit"]{ 
    background:#C2A152 ! important;
    color:#ffffff;
    width:200px;
    cursor:pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 500px;
 }
